<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
          <a href="<%= admin_dashboard_index_path %>">
            <%= image_tag "logo.png", class: "", alt: "Logo" %>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Menu</li>
        <li class="sidebar-item <%= current_page?(admin_dashboard_index_path) && 'active' %>">
          <a href="<%= admin_dashboard_index_path %>" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item <%= current_page?(admin_admins_path) && 'active' %>">
          <a href="<%= admin_admins_path %>" class='sidebar-link'>
            <i class="bi bi-person-circle"></i>
            <span>Administradores</span>
          </a>
        </li>
        <li class="sidebar-item <%= current_page?(admin_users_path) && 'active' %>">
          <a href="<%= admin_users_path %>" class='sidebar-link'>
            <i class="bi bi-people-fill"></i>
            <span>Usuários</span>
          </a>
          </li>
         <li class="sidebar-item <%= current_page?(admin_places_path) && 'active' %>">
          <a href="<%= admin_places_path %>" class='sidebar-link'>
            <i class="bi bi-building"></i>
            <span>Lugares</span>
          </a>
        </li>
        <li class="sidebar-item <%= current_page?(admin_cities_path) && 'active' %>">
          <a href="<%= admin_cities_path %>" class='sidebar-link'>
            <i class="bi bi-geo-alt"></i>
            <span>Cidades</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
