<div class="mt-10">
  <div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with model: [:admin, @admin] do |f| %>
        <%= render('/shared/model_errors', model: @admin) %>
        <div class="shadow sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-2 gap-6">
              <div class="col-span-2">
                <%= f.label :name, class: "block text-sm font-medium text-gray-700 required" %>
                <%= f.text_field :name, required: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-2">
                <%= f.label :email, class: "block text-sm font-medium text-gray-700 required" %>
                <%= f.text_field :email, required: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>


              <div class="col-span-2 sm:col-span-1">
                <%= f.label :password, class: "block text-sm font-medium text-gray-700 #{"required" if @admin.new_record?}" %>
                <%= f.password_field :password, required: !admin.persisted?, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-2 sm:col-span-1">
                <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700 #{"required" if @admin.new_record?}" %>
                <%= f.password_field :password_confirmation, required: !admin.persisted?, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-left sm:px-6">
            <%= f.submit('Salvar', class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500', data: { disable_with: t('.waiting') }) %>
            <%= link_to('Voltar', admin_admins_path, class: 'ml-4 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
