<div id="app">
  <%= render partial: "layouts/admin/sidebar" %>
  <div id="main" class="layout-navbar">
    <%= render partial: "layouts/admin/navbar" %>
    <div id="main-content">
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Cidades</h3>
              <p class="text-subtitle text-muted">Cidades / <b>Registrar</b></p>
            </div>
          </div>
        </div>
        <section id="multiple-column-form">
          <div class="row match-height">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <%= form_with model: [:admin, @city] do |f| %>
                      <%= render('/shared/model_errors', model: @city) %>
                      <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <%= f.label :name, class: "required" %>
                            <%= f.text_field :name, required: true, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <%= f.label :uf, class: "required" %>
                            <%= f.text_field :uf, required: true, class: "form-control" %>
                          </div>
                        </div>
                        <div class="form-group col-12">
                          <div class="form-check">
                            <div class="checkbox">
                              <%= f.check_box :is_active, class: "form-check-input" %>
                              <label for="checkbox5">Ativo</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-start mt-3">
                          <%= f.submit('Salvar', class: 'btn btn-primary me-1 mb-1 mr-3', data: { disable_with: t('.waiting') }) %>
                          <%= link_to('Voltar', admin_admins_path, class: 'btn btn-light-secondary me-1 mb-1 pr-2') %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%= render partial: "layouts/admin/footer" %>
    </div>
  </div>
</div>
